<!DOCTYPE html>
<html lang="en"
	xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org">

<head th:replace="~{base :: head}"></head>

<body>
    <!-- Navbar Start -->
    <div th:replace="~{base :: navbar(service='active')}"></div>
    <!-- Navbar End -->


    <!-- Page Header Start -->
    <div th:replace="~{base :: header(text='Services')}"></div>
    <!-- Page Header End -->


    <!-- Service Start -->
    <div th:replace="~{base :: service}"></div>
    <!-- Service End -->


    <!-- Footer Start -->
    <div th:replace="~{base :: footer}"></div>
    <!-- Footer End -->
	
	<!-- Script block Start -->
	<div th:replace="~{base :: script}"></div>
    <!-- Script block End -->
    
</body>

</html>