<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org">

<head th:replace="~{base :: head}">
</head>

<body>
	<!-- Navbar Start -->
	<div th:replace="~{base :: navbar}"></div>
	<!-- Navbar End -->


	<!-- Page Header Start -->
	<div th:replace="~{base :: header(text='Booking Successed')}"></div>
	<!-- Page Header End -->


	<!-- Success Start -->
	<div class="container-fluid py-5">
		<div class="container">
			<div class="section-title">
				<h2>Booking Success</h2>
			</div>
			<div class="row">
				<table class="table text-center">
					<thead class="thead-dark">
						<tr>
							<th>ID</th>
							<th>Name</th>
							<th>Phone Number</th>
							<th>Email</th>
							<th>Date</th>
							<th>Time</th>
							<th>Person</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td th:text="${booked.id}"></td>
							<td th:text="${booked.name}"></td>
							<td th:text="${booked.phoneNumber}"></td>
							<td th:text="${booked.email}"></td>
							<td th:text="${booked.date}"></td>
							<td th:text="${booked.time}"></td>
							<td th:text="${booked.person}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<!-- Success End -->


	<!-- Footer Start -->
	<div th:replace="~{base :: footer}"></div>
	<!-- Footer End -->

	<!-- Script block Start -->
	<div th:replace="~{base :: script}"></div>
	<!-- Script block End -->

</body>

</html>